#boardList {
	height: 400px;
}
#boardList a:link {
  color: #ffffff;text-decoration:none;
}

#boardList a:visited {
  color: #ff80c0;text-decoration:none;
}

#boardList a:hover {
  color: ##ffffff;text-decoration:none;
   font-size:20pt; font-family:"굴림";
}

#boardList form {
  margin-bottom:0; margin-top:0; padding:0;
}

#tab_boarderList{
  font-size:12pt;
   WIDTH:80%; 
   HEIGHT:40px;
   BORDER:1px solid white; 
   CELLSPACING:0; 
   CELLPADDING:1px; 
   margin:auto;
}
#tab_boarderList tr td{
	BORDER:1px solid white;
}
#boardList input,textarea,form {
  font-size:12pt; font-family:"굴림"; line-height:12pt;
}

#boardList td,select {
  color : #ffffff; font-family:"����"; font-size:9pt; line-height: 17pt;
}
#pagenation{
	margin: auto;
	font-size:12pt;
    WIDTH:80%; 
    HEIGHT:40px;
}
